.prefoot-wrap {
    padding: 4em 2em;
    background-color: #f5f5f5;
    color: #999;
    margin: 0 auto;
    text-align: center;
h2 {
    color: black;
    font-size: 2.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
    font-size: 2rem;;
    color: black;
}

/*.end-fot{color: #999; font-size:1.7em}*/
a.donate {
    color: #000 !important
}
}

@media (max-width: 996px) {
    .prefoot-wrap {
        padding: 1em;
        padding-top: 2em;
        padding-bottom: 2em;

    .list-inline > li a {
        color: #000;
        font-size: 0.7em
    }

    h2 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.6rem;
    }

}

}
