
 .sofb-banner {
     padding-top:4em;
     padding-left: 25px;
     padding-right: 25px;
     padding-bottom:4em;
     background-color: #E5E5E5
 }

 .carousel-sofb-small{
     max-width:280px;
     margin-left:auto;
     margin-right:auto;
     display:block;}

 @media (max-width: 765px){
     .carousel-sofb{margin-bottom:1em}
 }

