footer{
    padding:4em;
    background: #000;
    color: #f5f5f5;
    text-align: center;
 }
.list-inline-footer{
    margin-left:auto;
    margin-right: auto;
    list-style: none;
    margin-top:2em}
 .list-inline-footer > li > a {
     display: inline-block;
     color: #f5f5f5;
     font-size:2em;
     text-decoration: none;
     padding:1em;
 }
.list-inline-footer > li > a:hover {
    text-decoration: none;
}
.list-inline-footer>li a{color: #f5f5f5; font-size:1.9em}
.end-fot{color: #999; font-size:1.7em}
.end-fot a{text-decoration: none; color: #999; }
.end-fot a:hover{text-decoration: none; }