.carousel-sofb{padding:4em}
.carousel-sofb{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;}
 @media (max-width: 765px){
     .carousel-sofb{margin-bottom:1em; padding:2em}
 }

 .carousel-indicators li {display: none}

 .carousel-inner>.item>img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}