
ul.tag-cloud {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin: 0 10px 10px 0;
    }

    .sofb-tags {
        color: #999;
        background-color: #f5f5f5;
        border-color: #f5f5f5;
        padding: 12px 12px;
        line-height:40px;

    }
    .sofb-tags:hover {
        text-decoration: none;
        color: #fff;
        background-color: #999;
        border-color: #999;
    }
}


.current{color:#000;font-weight: bold;}
/*Unordered Lists*/
ul.arrow {
    list-style: none;
    padding: 0;
    margin: 0;
    li::before,
    li::after{
        font-family: FontAwesome;
        font-size: 11px;
    }
    li::before{
        margin-right: 5px;
    }
    li::before {
        content: "\f105";
    }

    li { font-size:1.5em;color:#999}
}
.pag {
    .fa-chevron-left,.fa-chevron-right{font-size:1em;color:#999}
    .fa-chevron-left:hover, .fa-chevron-right:hover{color:#000}
}
.widget .arrow{margin-bottom: 1em}

.magazine-item{position:relative}
.sofb-iframe{width: 100%; height:600px;border:none!important;}
.pb-1{padding-bottom:1em}
